.header-styling {
  text-align: center;
  background-image: linear-gradient(to top , #747474, #388AFF);
  color: #B6B600;
}

.textInput {
  display: block;
  margin: 0 auto;
  background-color: lightyellow;
  color: black;
}

.languageSelect {
  display: block;
  margin: 20px auto;
}

.translateButton {
  display: block;
  margin: 20px auto;
  color: #4162FF;
  font-weight: 700;
  font-style: italic;
}

#translateHeader h2 {
  margin: 0 auto;
  text-align: center;
}

.translatedLanguage {
  height: 150px;
  width: 450px;
  border: 2px solid black;
  margin: 0 auto;
  background-image: linear-gradient(to top , #B1B1B1, #317DEA);
}

#translatedText {
  padding-top: 25px;
  text-align: center;
  color: lightyellow;
  font-size: 2em;
}

.speak {
  display: block;
  margin: 10px auto;
}
