.textInput {
  display: block;
  margin: 0 auto;
}

.languageSelect {
  display: block;
  margin: 20px auto;
}

.translateButton {
  display: block;
  margin: 20px auto;
}

#translateHeader h2 {
  margin: 0 auto;
  text-align: center;
}

.translatedLanguage {
  height: 200px;
  width: 400px;
  border: 2px solid black;
  margin: 0 auto;
}
